body{
    background: #fff;
}

p, h1{
    color: #000;
    font-family: Roboto, sans-serif;
}

span{
    color: #5e92f3;
}

.container{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.header-content-left{
    float: right;
}

header{
    justify-content: center;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

nav {
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-right: 70px;
    padding-top: 25px;
    
}

.title {
    position: absolute;
    top: 50%;
    font-size: 40px;
}

p, .lead{
    position: absolute;
    top: 57%;
    font-size: 40px;
    color: #000;
}

.nav-text{
    position: relative;
    justify-content: center;
}

.navigation, .nav-text{
    float: right;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v8/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v8/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}